
/*
 * Bourbon Grotesque Font
 */
@font-face {
    font-family: "BourbonGrotesque";
    src: 	url("BourbonGrotesque-Regular.woff") format("woff"), 
    		url("BourbonGrotesque-Regular.woff2") format("woff2"), 
    		url("BourbonGrotesque-Regular.ttf")  format("truetype");
    font-weight: normal;
}
